body {
	background-image: url(images/brickwall.jpg);
	background-color: grey;
}
h1 {
	color: white;
	text-align: center;
}
#gameBoard {
	margin: 0 auto;
	background-color: #10530D;
	height: 500px;
	width: 85%;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 60%;
	border-bottom-right-radius: 60%;
	border-color: #8b4500;
	border-style: solid;
}
#dealerContainer {
	background-color: blue;
	width: 200px;
	height: 80px;
	margin: 0 auto;
	/*border-color: #8b4500;
	border-style: solid;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;*/
}
#playerContainer {
	background-color: #10530D;
	width: 200px;
	height: 80px;
	margin: 0 auto;
}
#dcard1, #dcard2, #dcard3, #dcard4, #dcard5, #pcard1, #pcard2, #pcard3, #pcard4, #pcard5 {
	/*border-style: dashed;
	border-color: black;*/
	height: 50px; 
	width: 20px;
	display: inline-block;
	margin: 0 auto;
}
#buttonContainer {
	margin: 0 auto;
	height: 100px;
	width: 180px;
}