body {
	background-color: teal;
}
#gameBoard {
	background-color: grey;
	height: 600px;
	width: 600px;
}
#dealerContainer {
	background-color: black;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#playerContainer {
	background-color: white;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}